<ion-header>
  <ion-toolbar color="#003785">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Volver</ion-button>
    </ion-buttons>  
    <ion-title class="titulo">Formulario Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="animate__animated animate__backInRight">
    <ion-card-header>
      <ion-card-title class="title">Registro</ion-card-title>
    </ion-card-header>
    <form [formGroup]="formRegistro" (ngSubmit)="registrarse()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input label="" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input label="" formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Rut</ion-label>
        <ion-input label="" formControlName="rut"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input label="" formControlName="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input label="" formControlName="contrasena" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input label="" formControlName="confirmarContrasena" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Direccion</ion-label>
        <ion-input label="" formControlName="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comuna</ion-label>
        <ion-input label="" formControlName="comuna"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input label="" formControlName="ciudad"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit">Registrarse</ion-button>
    </form>
  </ion-card>
</ion-content>
