ion-header {
    
    ion-toolbar {
        .title {
            height: 45px;
            padding-top: 15px;
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            background-color: #003785;
        }
    }
}

.titulo {
    text-align: center;
    font-size: 28px;
    color: white;
}