<ion-header>
  <ion-toolbar color="#003785"> 
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Volver</ion-button>
    </ion-buttons>
    <ion-title id="registro">Registro conductor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="animate__animated animate__backInRight">
    <ion-card-header>
      <ion-card-title>Registra tu vehiculo</ion-card-title>
    </ion-card-header>
    <form [formGroup]="formRegistroConductor" (ngSubmit)="registroConductor()">
      <ion-item>
        <ion-label position="floating">Patente</ion-label>
        <ion-input label="" formControlName="patente"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Marca</ion-label>
        <span class="textoSelecionado" *ngIf="formRegistroConductor.get('marca')?.value">Marca:
          {{ formRegistroConductor.get('marca')?.value }}
        </span>
        <ion-button class="botonSeleccionar" (click)="abrirPickerMarca()">Seleccionar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Modelo</ion-label>
        <ion-input label="" formControlName="modelo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tipo de vehiculo</ion-label>
        <span class="textoSelecionado" *ngIf="formRegistroConductor.get('tipo_vehiculo')?.value">Tipo de vehiculo:
          {{ formRegistroConductor.get('tipo_vehiculo')?.value }}
        </span>
        <ion-button class="botonSeleccionar" (click)="abrirPickerTipo()">Seleccionar</ion-button>       
      </ion-item>
      <ion-item>
        <ion-label position="floating">Color</ion-label>
        <span class="textoSelecionado" *ngIf="formRegistroConductor.get('color')?.value">Color:
          {{ formRegistroConductor.get('color')?.value }}
        </span>
        <ion-button class="botonSeleccionar" (click)="abrirPickerColor()">Seleccionar</ion-button>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Año de fabricacion</ion-label>
        <ion-input label="" formControlName="anno_fabricacion" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input placeholder="Ingresa tu número de teléfono" formControlName="telefono" ></ion-input>
      </ion-item> 
      <ion-button class="button" expand="block" type="submit">Registrarse como conductor</ion-button>
    </form>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>

