<ion-header>
  <ion-toolbar color="#003785">
    <ion-buttons slot="end">
      
    </ion-buttons>  
    <ion-title id="titulo" >Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card class="animate__animated animate__backInRight">
      <ion-card-header>
        <ion-card-title >Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <form [formGroup]="formularioLogin" (ngSubmit)="login(correo, contrasena)">
        <ion-item>
          <ion-label class= "correo" position="floating">Correo</ion-label>
          <ion-input label="" name="correo" [(ngModel)]="correo" formControlName="correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input label="" name="contrasena" [(ngModel)]="contrasena" formControlName="contrasena" type="password"></ion-input>
        </ion-item>
        <ion-button expand="block" type="submit" >Iniciar Sesión</ion-button>
        <ion-button expand="block" color="medium" href="/recuperacion">¿Olvidaste tu contraseña?</ion-button>
      </form>
      <ion-button href="/registro">Registrarse</ion-button>
    </ion-card>
    
  </div>
</ion-content>
