<ion-header>
  <ion-toolbar color="#003785">
    <ion-buttons slot="start">
      <ion-button (click)="volverAlMenuPrincipal()">Volver</ion-button>
    </ion-buttons>  
    <ion-title class="titulo">Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let solicitud of solicitudesDisp" >
    <ion-card class="animate__animated animate__backInRight">
      <ion-card-header>
        <ion-card-title>Solicitud de Viaje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label class="label">Origen:</ion-label>
            <ion-label class="ubicacion">{{ solicitud.origen }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label">Destino:</ion-label>
            <ion-label class="ubicacion">{{ solicitud.destino }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="asientos">Asientos disponibles</ion-label>
            <span>{{ solicitud.asientos }}</span>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <div class="button">
        <ion-item>
          <ion-button (click)="aceptarSolicitud(solicitud.id_solicitud, id_user, solicitud.id_vehiculo)" expand="block" color="success">Aceptar</ion-button>
          <ion-button (click)="seleccionarSolicitud(solicitud)" color="warning">Vehiculo</ion-button>
        </ion-item>
      </div>
    </ion-card>
  </div>
</ion-content>

  <ion-modal [isOpen]="mostrarModal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Detalles del Vehículo</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list *ngIf="datosVehiculos">
            <ion-item>
              <ion-label>Patente: {{ datosVehiculos.patente }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Marca: {{ datosVehiculos.marca }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Modelo: {{ datosVehiculos.modelo }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Tipo de vehiculo: {{ datosVehiculos.tipo_vehiculo }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Color: {{ datosVehiculos.color }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Año de fabricacion: {{ datosVehiculos.anno_fabricacion }}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Telefono del conductor: +56{{ datosVehiculos.telefono }}</ion-label>
            </ion-item>
          </ion-list>
          <ion-button (click)="cerrarModal()" expand="block" color="success">Aceptar</ion-button>
        </ion-content>
      </ng-template>
  </ion-modal>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
