<ion-header>
  <ion-toolbar color="#003785">
    <ion-buttons slot="start">
      <ion-button (click)="volverAlMenuPrincipal()">Volver</ion-button>
    </ion-buttons>  
    <ion-title class="titulo">Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let solicitud of solicitudesDisp" >
    <ion-card class="animate__animated animate__backInRight">
      <ion-card-header>
        <ion-card-title>Solicitud de Viaje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-label class="label">Origen:</ion-label>
            <ion-label class="ubicacion">{{ solicitud.origen }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="label">Destino:</ion-label>
            <ion-label class="ubicacion">{{ solicitud.destino }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label class="asientos">Asientos disponibles</ion-label>
    
            <span>{{ asientos }}</span>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <div class="button">
        <ion-item>
          <ion-button  expand="block" color="success">Aceptar</ion-button>
          <ion-button expand="block" color="danger">Rechazar</ion-button>
        </ion-item>
      </div>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
