<ion-header>
  <ion-toolbar color="#003785" width="0%">
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Volver</ion-button>
    </ion-buttons>  
    <ion-title id="titulo" class="titulo">Rutas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card class="animate__animated animate__backInRight">
    <ion-item>
      <ion-label >Direccion</ion-label>
      <ion-label>{{ direccion }}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
