/* Estilos para la tarjeta */
ion-header {
    width: 100%;
    height: 52px;
    background-color: #003785;
}

#titulo {
    text-align: center;
    font-size: 28px;
    color: white;

}

ion-buttons {
    color:azure;
}

ion-card {
    margin: 70px 0 70px 10px;
    max-width: 390px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    ion-card-header {
        ion-card-title {
            font-size: 2.0rem;
        }
    }

    ion-label {
        font-size: 1.0rem;
    }
}

@media (max-width: 768px) {
    ion-card {
        padding: 10px;
        border-radius: 20px;
        height: 200px;
    }

    ion-card-header {
        ion-card-title {
            font-size: 1.5rem;
        }
    }
}

  