<ion-header>
  <ion-toolbar color="#003785">
    <ion-buttons slot="start">
      <ion-button (click)="volverAlMenuPrincipal()">Volver</ion-button>
    </ion-buttons>  
    <ion-title class="titulo">Crea un viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Solicitud de viaje</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input label=""name="origen" [(ngModel)]="origen" type="text" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input label="" name="destino" [(ngModel)]="destino" type="text" ></ion-input>
        </ion-item>            
      </ion-list>

      <ion-button expand="block" (click)="solicitarViaje(origen, destino)">Enviar Solicitud</ion-button>
      <ion-button expand="block" color="medium" (click)="volverAlMenuPrincipal()">Volver al menú principal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>





