<ion-toolbar color="tertiary">
    <ng-container *ngIf="nombre && apellidos && tipo === 'user'">
      <ion-title class="title" slot="end">¡Hola! {{ nombre }} {{ apellidos }}</ion-title>
    </ng-container>
    <ion-buttons slot="secondary">
      <ion-button (click)="loginView()"> Login </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="registroView()"> Registrarse </ion-button>
    </ion-buttons>
  
    <ng-container *ngIf="nombre && apellidos && tipo === 'conductor'">
    
      <ion-title class="title" slot="end">¡Hola conductor! {{ nombre }} {{ apellidos }}</ion-title>
    
    <ion-buttons slot="secondary">
      <ion-button (click)="loginView()"> Log out </ion-button>
    </ion-buttons>
  
    <ion-buttons slot="primary">
      <ion-button (click)="registroView()"> Registrarse </ion-button>
    </ion-buttons>
  </ng-container>
  
</ion-toolbar>
