<ion-header>
  <ion-toolbar color="#003785">  
    <ion-title class="titulo">Viajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del Viaje</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Origen</ion-label>
          <ion-input label="" type="text" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Destino</ion-label>
          <ion-input label="" type="text" ></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Conductor</ion-label>
          <ion-select label="" placeholder="Selecciona un conductor">
            <ion-select-option value="" selected disabled>Elige un conductor</ion-select-option>
            <ion-select-option value="conductor1">Conductor 1</ion-select-option>
            <ion-select-option value="conductor2">Conductor 2</ion-select-option>
            <!-- Agrega más opciones según sea necesario -->
          </ion-select>
        </ion-item>
        
        
      </ion-list>

      <ion-button expand="block" >Enviar Solicitud</ion-button>
      <ion-button expand="block" color="medium" (click)="volverAlMenuPrincipal()">Volver al menú principal</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>





